body {
    background-color: #343434;
}

.container {
    width: 22%;
    margin: 60px auto;

}

.card {
    background-color: #f45e3d;
    border-radius: 25px 25px 0px 0px;
    height: 250px;
}

.card-header {
    padding: 20px;
}

.card-logo {
    width: 55px
}

.product-text h2 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.product-text p {
    color: #fff;
    font-size: 12px;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
}

.product-detail h2 {
    font-size: 125px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -30px;
    margin-left: -28px;
    opacity: 0.1;
}

.product-detail .product-display {
    position: absolute;
    top: 66px;
    margin-left: 45px;
}

.card-bottom {
    padding: 25px 25px;
    background: #fff;
    border-radius: 0px 0px 25px 25px;
}

.m-text h2 {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin-top: 0px;
    letter-spacing: 1.0px;
}

.m-text span {
    background: #11e95b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
    margin-bottom: 0px;
    letter-spacing: 1.0px;
    font-family: Roboto, sans-serif;
}

.m-text p {
    font-weight: 400;
    font-size: 10px;
    opacity: 0.7;
    color: rgb(26, 26, 26);
    margin-top: -10px;
    font-family: Roboto, sans-serif;
}

.ul-star .fa {
    margin-top: 0px;
    font-size: 12px;
}

.ul-star {
    padding-left: 0px;
    margin-top: -8px;
}

.active {
    color: grey;
}

.number h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.ul-number li {
    list-style: none;
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 550;
    margin-right: 30px;
}

.ul-number {
    padding-left: 0px;
}

.ul-number .bk-col {
    background: #f35e3d;
    color: #fff;
    padding: 5px 6px;
    border-radius: 50px;
    margin-right: 15px;
}

.ul-code li {
    list-style: none;
    display: inline;   
    margin-right: 15px; 
}

.ul-code {
    padding-left: 0px;
}

.ul-code .red {
    width: 300px;
    height: 300px;
    background: #f35e3d;
    color: #f35e3d;
    border-radius: 50%;
    padding: 1px 5px;
}

.color-code h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.ul-code .green {
    width: 300px;
    height: 300px;
    background: #11e95b;
    color: #11e95b;
    border-radius: 50%;
    padding: 1px 5px;
}

.ul-code .yellow {
    width: 300px;
    height: 300px;
    background: #d2f33d;
    color: #d2f33d;
    border-radius: 50%;
    padding: 1px 5px;
}

.money {
    color: #fff;
    background: #11e95b;
    padding: 5px 9px;
    border-radius: 11px;
    font-size: 17px;
    font-weight: 300;
    margin-left: 42px;
    font-family: Roboto, sans-serif;
    margin-top: -12px;
    padding: 7px 20px;
    position: absolute;
    box-shadow: -10px 50px -10px 50px black;
}